* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-height: 100vh;
    justify-content: space-between;
}

.top {
    display: inherit;
    justify-content: flex-end;
    align-items: center;
}

a {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
    line-height: 24px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top a:hover {
    text-decoration: underline;
}

.grid-icon {
    width: 40px;
    height: 40px;
}

.grid-icon:hover {
    border-radius: 50%;
    background-color: #ccc;
}

.profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile::after {
    content: "";
    border-radius: 50%;
}

.center {
    display: inherit;
    flex-direction: column;
    align-items: center;
}

.logo {
    padding: 25px 0;
}

.search-form {
    width: 100%;
    max-width: 600px;
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    padding: 0 8px;
}

.search-form:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: transparent;
}

.search-form input {
    flex: 1 0 auto;
    border: none;
    outline: none;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
}

input:focus::placeholder {
    opacity: 0;
}

.search-icon,
.mic-icon {
    width: 40px;
    padding: 8px;
    cursor: pointer;
}

.search-icon {
    padding: 10px;
}

.suggestion-logo-grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(5, 120px);
    grid-auto-rows: 120px;
}

.suggestion-logo-grid a {
    border-radius: 4px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0;
}

.img-container {
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 10px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    margin: auto;
    width: 100%;
}

p {
    font-size: 13px;
}

.bottom {
    display: inherit;
    justify-content: flex-end;
}

button {
    background-color: #fff;
    border: 1px solid #dfe1e5;
    padding: 10px 25px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #4285f4;
}

button:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: transparent;
}

button svg {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

@media (max-width: 650px) {
    .suggestion-logo-grid {
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(3, 120px);
    }
}